BOT_TOKEN=
ADMIN_USER_ID=8992664481
DB_PATH=ibetin_bot.db
IBETIN_HOME_URL=https://ibetin.com
IBETIN_MINI_APP_URL=https://ibetin.com
IBETIN_SPORTS_BOT_URL=
IBETIN_CHANNEL_URL=
IBETIN_MINI_APP_DEEP_LINK=
IBETIN_LIVE_TV_URL=
LIVE_TV_MODE=admin
TRACKING_BASE_URL=
